.about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    height: 700px;
    /* border: 2px solid white; */
    padding: 20px;
    margin-top: 72px;
    border-radius: 6px;
    /* background: linear-gradient(124deg, #042134, #16293e 69%); */
    background: #13202e;
}

.about h1 {
    position: absolute;
    top: 722px;
    font-size: 3.8rem;
    margin-top: 100px;
}

.about img {
    width: 235px;
    height: 350px;
    margin-right: 20px;
    border-radius: 6px;
}

.description {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;
    padding: 0 11px 30px 21px;
}

.heading {
    display: flex;
    margin-right: 20px;
    border-radius: 6px;
}

.heading {
    display: flex;
}

@media screen and (max-width:700px) {
    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 98%;
        height: 150vh;
        padding: 20px;
        margin-top: 230px;
        margin: 10px;
        border-radius: 6px;
        background: linear-gradient(124deg, #011b2b, #131c32 69%);
    }

    .about h1 {
        font-size: rem;
        font-weight: 600;
        margin: 650px 0 0 0;
        text-align: center;
        white-space: nowrap;
    }
}

@media screen and (max-width:720px) {
    .about h1 {
        font-size: rem;
        font-weight: 600;
        margin: 1100px 0 0 0;
        text-align: center;
        white-space: nowrap;
    }
}