.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    text-align: center;
    flex-direction: column;
    font-size: 2rem;
    line-height: 3rem;
}

.home div {
    margin: 5px 0;
}

@media screen and (max-width:720px) {
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 210vh;
        text-align: center;
        flex-direction: column;
        font-size: 1.8rem;
        line-height: 3rem;
    }
}