.showCase {
    width: 98%;
    height: auto;
    margin: auto;
    background: linear-gradient(124deg, #011b2b, #131c32 69%);
    border-radius: 10px;
    margin-bottom: 130px;
}

.title {
    padding: 21px 53px 0 42px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-gallery {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding:213px 0 100px 0;
    margin-top: 20px; 
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.column img {
    border-radius: 6px;
}
