.showCase {
    width: 98%;
    height: 200vh;
    margin: auto;
    background: linear-gradient(124deg, #013f68, #131c32 69%);
    border-radius: 10px;
    margin-bottom: 130px;
}

.showCaseTitle {
    padding: 21px 257px 16px 201px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
}

.photo-gallery {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 130px 0 100px 0;
    margin-top: 0;
}


.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.column img {
    border-radius: 6px;
}
